/* ------------------------------------- Utilities:  --------------------------------------------------- */
/* @link https://utopia.fyi/grid/calculator?c=320,16,1.2,1200,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --grid-max-width: 69.75rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, 0.4975rem + 2.5126vw, 2.25rem));
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

:root {
  --step--2: clamp(0.6944rem, 0.6851rem + 0.0466vw, 0.72rem);
  --step--1: clamp(0.8331rem, 0.8088rem + 0.1216vw, 0.9rem);
  --step-0: clamp(1rem, 0.9545rem + 0.2273vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.125rem + 0.375vw, 1.4063rem);
  --step-2: clamp(1.44rem, 1.3243rem + 0.5784vw, 1.7581rem);
  --step-3: clamp(1.7281rem, 1.5574rem + 0.8534vw, 2.1975rem);
  --step-4: clamp(2.0738rem, 1.829rem + 1.2239vw, 2.7469rem);
  --step-5: clamp(2.4881rem, 2.1445rem + 1.7182vw, 3.4331rem);
}

:root {
  --space-3xs: clamp(0.25rem, 0.2273rem + 0.1136vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4773rem + 0.1136vw, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7045rem + 0.2273vw, 0.875rem);
  --space-s: clamp(1rem, 0.9545rem + 0.2273vw, 1.125rem);
  --space-m: clamp(1.5rem, 1.4318rem + 0.3409vw, 1.6875rem);
  --space-l: clamp(2rem, 1.9091rem + 0.4545vw, 2.25rem);
  --space-xl: clamp(3rem, 2.8636rem + 0.6818vw, 3.375rem);
  --space-2xl: clamp(4rem, 3.8182rem + 0.9091vw, 4.5rem);
  --space-3xl: clamp(6rem, 5.7273rem + 1.3636vw, 6.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1364rem + 0.5682vw, 0.5625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3636rem + 0.6818vw, 0.875rem);
  --space-xs-s: clamp(0.75rem, 0.6136rem + 0.6818vw, 1.125rem);
  --space-s-m: clamp(1rem, 0.75rem + 1.25vw, 1.6875rem);
  --space-m-l: clamp(1.5rem, 1.2273rem + 1.3636vw, 2.25rem);
  --space-l-xl: clamp(2rem, 1.5rem + 2.5vw, 3.375rem);
  --space-xl-2xl: clamp(3rem, 2.4545rem + 2.7273vw, 4.5rem);
  --space-2xl-3xl: clamp(4rem, 3rem + 5vw, 6.75rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.5455rem + 2.2727vw, 2.25rem);
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: var(--body-width);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: black;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper > div > h3 > a {
  text-decoration: none;
  color: inherit;
}

.nav-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-info a {
  margin-inline: var(--space-xs);
  color: inherit;
  text-decoration: none;
}

.nav-personal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-personal > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-personal > div i {
  cursor: pointer;
}

.nav-personal a,
i {
  margin-inline: var(--space-xs);
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
}
